#btn_nav_bar{
  width: 280px;
  height: auto;
  border:1px solid #d6d6d6;
  box-shadow:inset 0px 0px 0px 0px;
  border-radius:3px;
  transition:.8s all; 
  border:none; 
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
  background-color: rgba(226, 174, 29);
}
#main_container{
  width: 1500px;
  height: 600px;
  background-color: Black;
  display: flex;
  justify-content: space-evenly;
  padding-top: 190px;

}
#btn_nav_bar:hover{
  transform: scale(1);
  width: 430px;
  height: auto;
  background-color: black;
  box-shadow:  0PX 20px 20px 10px rgba(226, 174, 29, 0.5);
  font-size: 20pt;
  test this one 

  
}
